body{
    background-color: aqua;

}

.header{
    background-color: blue;
    color: aliceblue;
    text-align: white;
    padding: 10px;

}

.container{
     margin: 20px;
     padding: 20px;
     background-color: aliceblue;
     border-radius: 5px;
     border: 10px solid black;
    
}

#caixa{
    background-color: aliceblue;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 10px;

}

#caixa2{
    
    background-color: aliceblue;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 10px;

}
#caixa3{
    background-color: aliceblue;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 10px;

}